In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
path_acc_wea = '/home/dsc/Master DS/TFM/GIT/acc_wea.csv'

In [8]:
acc_with_wea = pd.read_csv(path_acc_wea, sep = '^' )

In [9]:
acc_with_wea.head()

,Unnamed: 0,num_expediente,fecha,hora,cod_distrito,tipo_accidente,estado_meteorologico,tipo_vehiculo,tipo_persona,rango_edad,sexo,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,year_date,weak_day,month,num_exp
0,0,2019S000001,01/01/2019,3:45:00,11.0,Alcance,NaN,Furgoneta,Conductor,De 40 a 44 años,Hombre,439.139.603,4.470.836.854,S,2019,Tuesday,1,6
1,1,2019S000001,01/01/2019,3:45:00,11.0,Alcance,NaN,Turismo,Conductor,De 40 a 44 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
2,2,2019S000001,01/01/2019,3:45:00,11.0,Alcance,NaN,Turismo,Conductor,De 45 a 49 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
3,3,2019S000001,01/01/2019,3:45:00,11.0,Alcance,NaN,Turismo,Pasajero,De 45 a 49 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
4,4,2019S000001,01/01/2019,3:45:00,11.0,Alcance,NaN,Turismo,Pasajero,De 65 a 69 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6

In [11]:
acc_with_wea.columns

Index(['Unnamed: 0', 'num_expediente', 'fecha', 'hora', 'cod_distrito',
       'tipo_accidente', 'estado_meteorologico', 'tipo_vehiculo',
       'tipo_persona', 'rango_edad', 'sexo', 'coordenada_x_utm',
       'coordenada_y_utm', 'positiva_alcohol', 'year_date', 'weak_day',
       'month', 'num_exp'],
      dtype='object')

Vamos a realizar un poco de analisis descriptivo. Al haber un parte por cada persona implicada en el siniestro, habrá que decir la muestra por el numero de expediente.

# When?

Para el analisis temporal podemos hacer uso de del dataset acc_wea, que es el mas completo, ya que no vamos a extrapolar ninguno de las features que nos incompletas o con discrepancias en el origen.

In [13]:
time_features = ['num_expediente', 'fecha', 'hora', 'cod_distrito','tipo_accidente', 'year_date', 'weak_day',
                 'month', 'num_exp']

In [15]:
time_df = acc_with_wea[time_features]

In [19]:
time_df.shape

(125297, 9)

In [16]:
time_df.num_expediente.duplicated()

0         False
1          True
2          True
3          True
4          True
          ...
125292    False
125293    False
125294     True
125295    False
125296     True
Name: num_expediente, Length: 125297, dtype: bool

In [21]:
time_simple=time_df.drop_duplicates()
time_simple.shape

(53974, 9)

In [22]:
time_simple['num_expediente'].count()

53974