# DATA ENGINEERING

In [2]:
import pandas as pd

Lo primero q debemos hacer es pasar los datos a número, para poder analizarlos

In [3]:
path_data = '/home/dsc/Master DS/TFM/GIT/acc_veh.csv'
acc_veh = pd.read_csv(path_data, sep = '^' )

In [4]:
acc_veh.head()

,Unnamed: 0,num_expediente,fecha,hora,cod_distrito,tipo_accidente,estado_meteorologico,tipo_vehiculo,tipo_persona,rango_edad,sexo,coordenada_x_utm,coordenada_y_utm,positiva_alcohol,year_date,weak_day,month,num_exp
0,0,2019S000001,01/01/2019,3:45:00,11.0,Alcance,Se desconoce,Furgoneta,Conductor,De 40 a 44 años,Hombre,439.139.603,4.470.836.854,S,2019,Tuesday,1,6
1,1,2019S000001,01/01/2019,3:45:00,11.0,Alcance,Se desconoce,Turismo,Conductor,De 40 a 44 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
2,2,2019S000001,01/01/2019,3:45:00,11.0,Alcance,Se desconoce,Turismo,Conductor,De 45 a 49 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
3,3,2019S000001,01/01/2019,3:45:00,11.0,Alcance,Se desconoce,Turismo,Pasajero,De 45 a 49 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6
4,4,2019S000001,01/01/2019,3:45:00,11.0,Alcance,Se desconoce,Turismo,Pasajero,De 65 a 69 años,Mujer,439.139.603,4.470.836.854,N,2019,Tuesday,1,6

In [5]:
aa=acc_veh.drop(['Unnamed: 0'], axis=1);

In [6]:
aa.columns

Index(['num_expediente', 'fecha', 'hora', 'cod_distrito', 'tipo_accidente',
       'estado_meteorologico', 'tipo_vehiculo', 'tipo_persona', 'rango_edad',
       'sexo', 'coordenada_x_utm', 'coordenada_y_utm', 'positiva_alcohol',
       'year_date', 'weak_day', 'month', 'num_exp'],
      dtype='object')

Sabemos por la descripción del dataset, que para un mismo 'num_expediente' se escribe una linea por cada uno de los implicados en el accidente, es por ello por lo que hemos construido una feature de 'num_exp' (numero de implicados por expediente).

Es por ello, que si queremos unicamente saber el número de accidentes que han ocurrido, vamos a generar un data frame que unicamente tenga en cuenta los valores únicos de 'num_expediente'.

Este dataset se formará con las features donde las lineas con un mismo 'num_expediente' sean coincidentes:
- num_expediente
- coordenada_x_utm
- coordenada_y_utm
- fecha
- year_date
- weak_day
- month
- hora
- franjas_horarias
- cod_distrito
- tipo_accidente
- tipo_vehiculo
- tipo_persona
- rango_edad
- sexo
- estado_meteorologico
- positiva_alcohol
- num_exp

Las variables que han de ser transformadas son:

TABLA

In [8]:
aa.tipo_persona.value_counts()

Conductor    101473
Pasajero      19820
Peatón         4256
Name: tipo_persona, dtype: int64

In [9]:
aa.estado_meteorologico.value_counts()

Despejado         96059
Se desconoce      14285
Lluvia débil       7455
Nublado            5917
LLuvia intensa     1589
Nevando             212
Granizando           32
Name: estado_meteorologico, dtype: int64

In [18]:
aa.rango_edad.value_counts()

De 25 a 29 años    13544
Desconocido        13514
De 40 a 44 años    13425
De 30 a 34 años    13113
De 35 a 39 años    12949
De 45 a 49 años    12046
De 50 a 54 años    10208
De 21 a 24 años     8615
De 55 a 59 años     8080
De 60 a 64 años     5085
De 18 a 20 años     3901
Más de 74 años      2656
De 65 a 69 años     2463
De 70 a 74 años     1737
Menor de 5 años     1235
De 10 a 14 años     1222
De 15 a 17 años      950
De 6 a 9 años        806
Name: rango_edad, dtype: int64

Antes que nada los rangos de edad los vamos a reagrupar:

Si queremos analizar los accidente desde un punto de vista de la siniestralidad, solo nos interesan los 'tipo_persona' == 'Conductor'

Vamos a tener q meter la media para eliminar los desconocidos

Menos 18

+65 años

In [27]:
in_2008 = aa['tipo_persona'] == 'Conductor'
planets_2008 = aa[in_2008]
planets_2008.rango_edad.value_counts()

Desconocido        13312
De 40 a 44 años    11719
De 35 a 39 años    10996
De 30 a 34 años    10954
De 25 a 29 años    10820
De 45 a 49 años    10510
De 50 a 54 años     8804
De 55 a 59 años     6837
De 21 a 24 años     6313
De 60 a 64 años     4165
De 18 a 20 años     2301
De 65 a 69 años     1799
Más de 74 años      1406
De 70 a 74 años     1147
De 15 a 17 años      252
De 10 a 14 años      108
De 6 a 9 años         20
Menor de 5 años       10
Name: rango_edad, dtype: int64

In [28]:
in_2008 = aa['tipo_persona'] == 'Pasajero'
planets_2008 = aa[in_2008]
planets_2008.rango_edad.value_counts()

De 25 a 29 años    2416
De 21 a 24 años    2102
De 30 a 34 años    1879
De 35 a 39 años    1642
De 18 a 20 años    1449
De 40 a 44 años    1426
De 45 a 49 años    1254
De 50 a 54 años    1129
Menor de 5 años    1034
De 55 a 59 años     947
De 10 a 14 años     936
Más de 74 años      713
De 60 a 64 años     670
De 6 a 9 años       653
De 15 a 17 años     574
De 65 a 69 años     452
De 70 a 74 años     377
Desconocido         167
Name: rango_edad, dtype: int64

In [30]:
in_2008 = aa['tipo_persona'] == 'Peatón'
planets_2008 = aa[in_2008]
planets_2008.rango_edad.value_counts()

Más de 74 años     537
De 35 a 39 años    311
De 25 a 29 años    308
De 55 a 59 años    296
De 45 a 49 años    282
De 40 a 44 años    280
De 30 a 34 años    280
De 50 a 54 años    275
De 60 a 64 años    250
De 70 a 74 años    213
De 65 a 69 años    212
De 21 a 24 años    200
Menor de 5 años    191
De 10 a 14 años    178
De 18 a 20 años    151
De 6 a 9 años      133
De 15 a 17 años    124
Desconocido         35
Name: rango_edad, dtype: int64

In [11]:
aa.tipo_vehiculo.value_counts()

Turismo                              87152
Furgoneta                             8099
Motocicleta hasta 125cc               7960
Motocicleta > 125cc                   6578
Autobús                               2997
Camión rígido                         2937
Bicicleta                             2373
Ciclomotor                            1946
Todo terreno                          1743
VMU eléctrico                          827
Tractocamión                           534
Otros vehículos con motor              511
Sin especificar                        436
Maquinaria de obras                    296
Bicicleta EPAC (pedaleo asistido)      287
Vehículo articulado                    233
Autobús articulado                     209
Autobus EMT                            138
Ciclo                                   74
Cuadriciclo ligero                      71
Patinete                                43
Cuadriciclo no ligero                   37
Autocaravana                            35
Otros vehículos sin motor               11
Semiremolque                             8
Remolque                                 7
Camión de bomberos                       7
Name: tipo_vehiculo, dtype: int64

In [12]:
aa.tipo_accidente.value_counts()

Colisión fronto-lateral         31036
Alcance                         29274
Colisión lateral                17550
Choque contra obstáculo fijo    16080
Colisión múltiple                9108
Atropello a persona              8265
Caída                            7876
Colisión frontal                 2997
Otro                             2271
Solo salida de la vía             446
Vuelco                            423
Atropello a animal                214
Despeñamiento                       9
Name: tipo_accidente, dtype: int64

## Feature engineering

Para sustituir por 'mean' o 'median' aquellas celdas q tienen un valor Nan.

Para columnas numericas

In [ ]:
from sklearn.impute import SimpleImputer

Genera una columna adicional de codigo, de 1 a x, en el que hay un orden jerarquico

Para variables categoricas

(internet)

In [ ]:
    from sklearn.preprocessing import OrdinalEncoder

Para generar matrices dispersas

Para los features son variables nominales de pocas categorias

(internet)

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
#Otro método
#pd.get_dummies(acc_veh, columns = [('sexo')]).head()
# https://elmundodelosdatos.com/tecnicas-para-codificar-variables-categoricas-ordinal-one-hot/

NOTA: Si hay muchas categorias habrá que generar un cajón desastre, xq sino no se encuentra relación. Ver ejercicio

### Target encoding o Bin counting 
https://maxhalford.github.io/blog/target-encoding/

In [ ]:
from category_encoders import TargetEncoder

### Vector encoding

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# https://www.datacamp.com/community/tutorials/encoding-methodologies

In [ ]:
# Si en el modelado vamos a usar un pipeline, para q sea visible en diagrama

# sklearn.set_config(display='diagram')